* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   
  
  .vorlage {
    position: absolute;
   z-index: -1;
    opacity: 0.9;
  }

  body {
    display: grid;
    grid-template-columns: 130px 800px 1fr;
    grid-template-rows: 25px 85px 1675px;
    background-color: #21201e;
  }

  nav{
      grid-area: 1 / 2 / 2 / 3;
      background-color:rgb(255, 255, 255);
      color: black;
  }

  nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-family: orf-on;
  }